<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nathanson.meterreader" >

    <uses-permission android:required="true" android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:required="true" android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <!-- TODO: is this perm really necessary? -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <!-- TODO: is this perm really necessary? -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>

    <application
        android:name="com.nathanson.meterreader.MeterReaderApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        >
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.AboutActivity"
            android:label="@string/about_name"/>

        <!-- boot completed threshold test-->
         <receiver android:name=".threshold.ThresholdBroadcastReceiver"
             android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- fake action to test boot completed -->
                <action android:name="com.nathanson.fake_boot_completed" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
